.paragraph-one {
  background-color: rgb(241, 166, 166);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

.font-size-one {
  font-size: 24px;
}

#division-one {
  color: rgb(0, 0, 255);
  font-size: 36px;
}

#division-two {
  background-color: rgb(133, 231, 133);
  font-weight: bold;
}